.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	height: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.link {
	text-decoration: underline;
	transition: color 0.2s;
}
.link:hover {
	color: rgba(255, 255, 255, 0.75);
}
.text {
	margin: 0;
}
