.footer {
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 5%;
	text-align: center;
	align-self: flex-end;
	font-size: 0.5em;
}
.link {
	text-decoration: underline;
	transition: color 0.2s;
}
.link:hover {
	color: rgba(255, 255, 255, 0.75);
}
.text {
	margin: 0;
}
