.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	display: flex;
	flex-direction: row;
}
.link {
	color: white;
	cursor: pointer;
	padding: 0 2%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: color 0.2s;
}
.linkHover:hover {
	color: rgba(255, 255, 255, 0.75);
}
.offset {
	display: block;
	width: 100%;
	height: 64px;
}

.home {
	display: flex;
	align-items: center;
}
.home > *:first-child {
	margin-right: 0.2em;
}
