.main {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.content {
	margin: 0 2%;
}

.side {
	display: none;
	color: white;
}
@media only screen and (min-width: 1920px) {
	.side {
		font-size: 4rem;
	}
}
@media only screen and (min-width: 1280px) {
	.side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 25%;
		height: 100%;
		font-size: 3rem;
	}
	.content {
		margin: 0;
		margin-right: 2%;
	}
}
.side > h1 {
	font-size: inherit;
	margin: 1rem 0;
}
.side > .fission {
	font-size: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.side > .fission > .title {
	margin-left: 1rem;
}
