.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2%;
}
.col1 {
	width: 40%;
	padding: 0;
	flex-shrink: 0;
}
.col1 > img {
	width: 100%;
	height: auto;
}
.col2 {
	flex-grow: 1;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.col2 > h1 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 2rem;
	font-weight: 300;
	margin: 0.5rem 0;
	text-align: center;
}
.col2 > h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: 100;
	margin: 0.25rem 0;
	color: rgba(0, 0, 0, 0.75);
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.container {
		flex-direction: row;
	}
	.col2 {
		align-items: flex-start;
	}
	.col2 > h1 {
		text-align: left;
	}
	.col2 > h2 {
		text-align: left;
	}
}

.col2 > hr {
	width: 100%;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.mail {
	border-bottom: 1px solid #333;
	transition: all 0.2s;
	color: rgba(0, 0, 0, 0.8);
}
.mail:hover {
	color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.5);
}
