.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.container form {
	width: 80%;
	margin: 2%;
}
.container button {
	width: 100%;
	position: relative;
	border: 0;
	padding: 5%;
	color: white;
	font-size: 1.5em;
	border-radius: 5px;
	cursor: pointer;
}

.container button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0);
	transition: background-color 0.1s linear;
}
.container button:hover::before {
	background-color: rgba(255, 255, 255, 0.3);
}

#facebook {
	background-color: #3b5998;
}

#instagram {
	background: linear-gradient(
		45deg,
		#405de6,
		#5851db,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d
	);
}

#email {
	background-color: #000000;
}

@media only screen and (min-width: 768px) {
	.container {
		flex-direction: row;
	}
}
