.mediaPartners {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.mediaPartners > * {
	margin: 2%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container > * {
	width: 50%;
	margin-bottom: 1rem;
}
