.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.container .content {
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10%;
}

.container .content img {
	width: 100%;
	height: auto;
}
