.container {
	width: 50%;
	margin: 2%;
	display: flex;
	justify-content: center;
	text-decoration: none;
	border: none !important;
}

.container .content {
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10%;
}

.container .content img {
	width: 100%;
	height: auto;
}
